<div class="foo">
  
  <h1>駅情報アプリ</h1>
  
  <form>
    <input type="text" placeholder="駅名を入力してください", class: :form__text><br>
    <input type="submit" value="駅情報を見る",class: :form__btn><br>
  </form>
  <div class="content">
  <a href="https://top.meitetsu.co.jp/em/">列車運行情報はこちら</a>
  </div>
</div>
